.simon-container {
    width: 980px;
    height: 350px;
    text-align: center;
    vertical-align: text-bottom;
    overflow: hidden;
    padding: 12px 12px 12px 12px;
    color: whitesmoke;
}

.desktop {
    text-align: right;
}

.btn {
    background-color: rgba(233, 141, 36, 0.884);
    border-radius: 1ch;
}